name: Secrets Sync

on:
  workflow_dispatch:
    inputs:
      filter_repos:
        description: Comma separated list of repos that should be processed
        required: false

      filter_secrets:
        description: Comma separated list of secrets that should be processed
        required: false

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v3.6.0

      - name: Sync secrets
        uses: xt0rted/secrets-sync@v1.1.0
        with:
          repo_token: ${{ secrets.SECRET_SYNC_TOKEN }}
          filter_repos: ${{ github.event.inputs.filter_repos }}
          filter_secrets: ${{ github.event.inputs.filter_secrets }}
        env:
          APP_ID: ${{ secrets.APP_ID }}
          PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
