name: Validate YAML

on:
  pull_request_target:
  push:
    branches: [main]

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v3.5.2
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}

      - name: Run yamllint
        run: yamllint .
